body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e1e1e1;
}

h2{
    color: black;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000bda;
  color: white;
}


img {
  max-width: 90%;
  height: auto;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


table{
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

td{
  vertical-align:top;
  padding-bottom: 1%;
  font-weight: bolder;
}

/* animation retrecissement - https://thebrandsmen.com/css-image-hover-effects/*/

shrink img {
	transition: 0.4s ease;
}

shrink img:hover {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 0.4s ease;
}


.content-container {
  max-width: 60vw; /* Adjust the max-width according to your design */
  margin: 0 auto; /* Center the content container */
  padding-left: 10px; /* Responsive left padding */
  padding-right: 10px; /* Optional: Responsive right padding */
}



/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


p{
    color: black;

}

ul{
  list-style: none
  
  }
  

.centered {
    text-align: center;
  }